<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Bảo tàng tuổi trẻ</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../assets/img/baotang.jpg" rel="icon" />
    <link href="../assets/css/vendor.min.css" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />
    <link href="../assets/Farmwork/css/notify.css" rel="stylesheet" />
    <link href="../assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" />
    <link href="../assets/Farmwork/bootstrap-table/dist/themes/bulma/bootstrap-table-bulma.css" rel="stylesheet" />
    <link href="../assets/Farmwork/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" />
    <link href="../assets/Farmwork/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <link href="../assets/Farmwork/custom-select/picker.css" rel="stylesheet" />
    <link href="../assets/Farmwork/circle-loader/css/style.css" rel="stylesheet" />
    <link href="../assets/css/Support.css" rel="stylesheet" />
    <link href="../assets/css/ButtonHover.css" rel="stylesheet" />
    <style>
        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 0px grey;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background-image: linear-gradient( to right, #25aae1, #4481eb, #04befe, #3f86ed );
            box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
            border-radius: 10px;
        }
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #b30000;
            }
    </style>
</head>
<body class="pace-done theme-red">
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <div id="loader" class="app-loader">
        <span class="spinner"></span>
    </div>
    <div id="app" class="app app-sidebar-minified">
        @Html.Partial("~/Views/Shared/Header.cshtml")
        <div id="sidebar" class="app-sidebar" data-bs-theme="light">
            <div class="app-sidebar-content" data-scrollbar="true" style=" background: #f6f6f6;" data-height="100%">
                @Html.Partial("~/Views/Shared/MenuChung.cshtml")
            </div>
        </div>
        <div class="app-sidebar-bg" data-bs-theme="light"></div>
        <div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
        <div id="content" class="app-content p-0" style=" min-height: 100vh; background: url(../assets/img/cover/cover-scrum-board.png) no-repeat fixed; background-size: 360px; background-position: right bottom;">
            @RenderBody()
        </div>
        <a href="javascript:;" class="btn btn-icon btn-circle btn-theme btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
    <div class="fab-wrapper">
        <input id="fabCheckbox" type="checkbox" class="fab-checkbox">
        <label class="fab" for="fabCheckbox">
            <i class="icon-cps-fab-menu"></i>
            <!-- <i class="icon-cps-close"></i> -->
        </label>
        <div class="fab-wheel">
            <a class="fab-action fab-action-2" href="tel:0903123456" rel="nofollow">
                <span class="fab-title">Gọi trực tiếp</span>
                <div class="fab-button fab-button-2"><i class="icon-cps-phone"></i></div>
            </a>
            <a class="fab-action fab-action-3" href="#" onclick="openForm()" rel="nofollow">
                <span class="fab-title">Chat ngay</span>
                <div class="fab-button fab-button-3"><i class="icon-cps-chat"></i></div>
            </a>
            <a class="fab-action fab-action-4" href="#" onclick="openFormZalo()" rel="nofollow">
                <span class="fab-title">Chat trên Zalo</span>
                <div class="fab-button fab-button-4"><i class="icon-cps-chat-zalo"></i></div>
            </a>
        </div>
    </div>
    <div class="modal fade" id="modal-message-support">
        <div class="modal-dialog" style="max-width:40%">
            <div class="modal-content">
                <div class="panel panel-inverse m-0">
                    <div class="panel-heading  bg-blue-400 text-white">
                        <h4 class="panel-title"><i class="fa fa-headphones-simple"></i> Liên hệ hỗ trợ</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body" style="background-image: url(../assets/img/bgChat.jpg); background-size: contain; ">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label mt-1 text-white">Số điện thoại cần hỗ trợ:</label>
                                <input class="form-control" placeholder="(+84) VietNam" id="" type="text" />
                            </div>
                            <div class="col-sm-12">
                                <label class="form-label mt-1 text-white">Nội dung cần hỗ trợ:</label>
                                <textarea class="form-control" placeholder="Nhập nội dung" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer m-0 p-0" style="display:block">
                        <a class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i class="fa fa-arrow-rotate-left"></i> Thoát</a>
                        <a class="btn btn-sm btn-info col-sm-10" id=""><i class="fa fa-location-arrow"></i> Gửi tin nhắn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-zalo-support">
        <div class="modal-dialog" style="max-width:70%">
            <div class="modal-content">
                <div class="panel panel-inverse m-0">
                    <div class="panel-heading  bg-blue-400 text-white">
                        <h4 class="panel-title"><i class="fa fa-headphones-simple"></i> Chat Zalo</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body p-0" style="background-image: url(../assets/img/bgChat.jpg); background-size: contain; ">
                        <div class="row">
                            <iframe src="https://zalo.me/0876583925" title="" style="height:500px"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer m-0 pb-0 pt-0" style="display:block">
                        <a class="btn btn-sm btn-danger col-sm-12" data-bs-dismiss="modal"><i class="fa fa-arrow-rotate-left"></i> Thoát</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    @Html.Partial("~/Views/Shared/ScriptsRender.cshtml")
    <script src="../assets/Farmwork/custom-select/Picker.js"></script>
    <script src="../assets/Farmwork/circle-loader/js/script.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        function sendMessenger() {
            var smsNoiDung = $("#smsNoiDung").val();
            var smsSoDienThoai = $("#smsSoDienThoai").val();
            if (smsNoiDung == "" || smsNoiDung == undefined || smsNoiDung == null) {
                noti_Info('Chưa có nội dung');
                $("#smsNoiDung").focus();
                return;
            }
            if (smsSoDienThoai == "" || smsSoDienThoai == undefined || smsSoDienThoai == null) {
                noti_Info('Chưa có thông tin liên hệ');
                $("#smsSoDienThoai").focus();
                return;
            }
            if (smsSoDienThoai.length != 10) {
                noti_Info('Số điện thoại không đúng. Vui lòng kiểm tra lại');
                $("#smsSoDienThoai").focus();
                return;
            }
            swal({
                title: "Gửi nội dung?",
                text: "Chúng tôi sẽ liên hệ bạn sớm nhất có thể!",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#1ab394",
                confirmButtonText: "Xác nhận",
                cancelButtonColor: "#ed5565",
                cancelButtonText: "Hủy",
                closeOnConfirm: true
            }, function (result) {
                if (result == true) {
                    $.ajax({
                        url: '/Notification/sendMessenger',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            smsNoiDung: smsNoiDung,
                            smsSoDienThoai: smsSoDienThoai,
                        },
                        success: function (response) {
                            if (response.status === true) {
                                document.getElementById("myForm").style.display = "none";
                                $("#smsNoiDung").val("");
                                $("#smsSoDienThoai").val("");
                                noti_Success('Đã gửi thành công');
                            } else {
                                noti_Error(response.message);
                            }
                        },
                    });
                }
            })
        }
        function openForm() {
            $("#modal-message-support").modal("show");
        }
        function openFormZalo() {
            $("#modal-zalo-support").modal("show");
        }
    </script>
</body>
</html>