<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Bảo tàng tuổi trẻ</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    @Html.Partial("~/Views/Shared/CssRender.cshtml")
</head>
<body class="pace-done theme-red">
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <div id="loader" class="app-loader">
        <span class="spinner"></span>
    </div>
    <div id="app" class="app app-sidebar-minified">
        @Html.Partial("~/Views/Shared/Header.cshtml")
        <div id="sidebar" class="app-sidebar" data-bs-theme="light">
            <div class="app-sidebar-content" data-scrollbar="true" style=" background: #f6f6f6;" data-height="100%">
                @Html.Partial("~/Views/Shared/MenuChung.cshtml")
            </div>
        </div>
        <div class="app-sidebar-bg" data-bs-theme="light"></div>
        <div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
        <div id="content" class="app-content p-0" style=" min-height: 100vh; background: url(../assets/img/cover/cover-scrum-board.png) no-repeat fixed; background-size: 360px; background-position: right bottom;">
            @RenderBody()
        </div>
        <a href="javascript:;" class="btn btn-icon btn-circle btn-theme btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
    @Html.Partial("~/Views/Shared/Support.cshtml")
    <!-- jQuery -->
    @Html.Partial("~/Views/Shared/ScriptsRender.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>